:root {
  -azul-profundo: #023E8A;
  -azul-mar: #0077B6;
  -azul-oceano: #0096C7;
  -azul-claro: #48CAE4;
  -celeste-suave: #ADE8F4;
  -blanco: #FFFFFF;
  -blanco-hielo: #F5FBFD;
  -texto-oscuro: #023047;
}